@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}
body html{
    width:100%;
    height:100%;
    scroll-behavior:smooth;
}
/* *****************NAVBAR DESIGN****************************** */
header{
    width:100%
}
/* .fix{
    position:fixed
} */
.nav{
    /* background:#FDE5EC; */
    /* position:relative; */
    height:5vmax;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 5rem;
    width:100%;
    background:white;
    box-shadow:0px 2px 5px #bab5b5;
    overflow:hidden
}
.logo{
    font-weight:bold;
    font-size:2.5rem;
    background: #f5f5f5;
background: linear-gradient(135deg, #f34079 40%, #fc894d);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.list{
    display:flex;
    align-items:center;
    gap:1rem
}

li{
    list-style:none;
    align-items:center;
}
a{
    text-decoration:none;
    font-size:1rem;
    color:#000
}

/* hr {
display: block;
height: 1px;
border-top: 1px solid #ccc;
}
 */
.menu-logo{
    font-size:2.1rem;
    display:none;
    font-weight:bold
}

@media(max-width:920px){
    .nav{
    /* background:#FDE5EC; */
    height:7vh;
    padding:0 1.2rem;
}

  .logo{
    font-size:2rem
}
    .menu-logo{
    display:inline
}
}
/* *******************************Hero************************************** */

.hero{
    display:flex;
    align-items:center;
}

.rapid{
background: #f5f5f5;
background: linear-gradient(135deg, #f34079 40%, #fc894d);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.inside-rapid{
    font-size:2.4rem;   
}
.left-part{
    width:60vw;
    padding:8rem 5rem
}
.main-head{
    font-size:3.3rem;
    font-weight:bold
}
.right-part{
    width:40vw;
}
.img-1{
    width:20rem;
    height:auto
}
.para{
    margin:2rem 0;
    font-size:1.5vmax;
}

.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
padding:1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media (max-width:920px){  
    .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
    .hero{
        flex-direction:column;
        width:100vw;
        height:45rem;
        padding:5rem 5rem;
    }
    .list{
        display:none
    }
.left-part{
    padding:0rem 1.2rem;
    width:100vw;
}
    .para{
    margin:2rem 0;
    font-size:1rem
}

.right-part{
    margin-top:3rem;
    width:100vw;
    text-align:center;
}
.main-head{
    font-size:2.1rem
}
.img-1{
    width:16rem;
    height:auto
}
    .inside-rapid{
    font-size:1.6rem;   
}
}

/* *****************************SECHERO**************************************** */
 .sec-container{
     background-color:#15202b;
     width:100%;
     background-size:cover;
     padding-bottom:2rem;
     box-shadow:0px 3px 4px #a59c9c;
 }   

.container-1 {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem 8rem; /* Three boxes in a row */
  grid-column-gap: 40px; /* Gap between boxes */
    grid-row-gap: 30px;
    justify-content:center;
    padding:2rem 15rem;
}

.box-x {
    border: 1px solid #223549;
    background: #1c2b3b;
    height:7rem;
    text-align: center;
    display:flex;
    border-radius:.5rem;
    justify-content:center;
    gap:.7rem;
    color:white;
    flex-direction:column;
    align-items:center;
    font-family:arial;
    font-size:.9rem;
    box-shadow:0px 2px 2.5px #223549;
}

.box-img{
    width:30%;
    height:auto;
    text-align:center
}
.sec-para{
    color:white;
    text-align:center;
   padding:.5rem 10rem;
    font-size:1.4rem;
}
@media (max-width: 800px) {
  /* For mobile devices, one box per row */
.container-1 {
    grid-template-columns: 8rem 8rem;
    padding:1.5rem 4rem
  }
    .box-x{
        height:7rem;
        font-size:.8rem;
        gap:1rem;
    }
    .box-img{
    width:25%;
    height:auto

}
    .sec-para{
    color:white;
    text-align:center;
    padding:.5rem 1rem;
    font-size:.8rem;
}
  
.sec-para{
    font-size:1rem;
}
    
}
.sec-head{
    text-align:center;
    padding-top:2rem;
    font-size:3rem;
    background: #121FCF;
background: linear-gradient(135deg, #f34079 40%, #fc894d);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-weight:bold

}

.box-x:hover{
    border:2px solid #f34079;
    color:#f34079;
    transform: scale(.95);
}


/* *************************Accordian******************************** */

.App {
    border-radius:1rem;
    display: flex;
    align-items:center;
    flex-direction:column;
    padding:2rem 0
}

.accordion {
  border: 1px solid #ccc;
  margin-bottom: .5rem;
    border-radius:.5rem;
width:50%;
    box-shadow:0px 2px 3px #bab5b5;
}
.acc-head{
    margin-bottom:2rem;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem;
  cursor: pointer;
    border-radius:.5rem
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: #fff;
  padding: 1rem;
}

@media(max-width:920px){
    .accordion {
width:90%;
}
}

/* ********************Footer************************ */

.foot{
    color:white;
    background:black;
    padding:1.5rem 0rem;
    text-align:center
}